/* -- Shoptimizer RTL CSS -- */

body.rtl .woocommerce-tabs table td,
body.rtl .woocommerce-tabs table th {
	padding-right: 0;
}

.ri.menu-item.ri-chevron-right-circle:before {
	transform: scale(-1, 1);
}

body.rtl,
body.rtl .image-feature figcaption,
body.rtl table td,
body.rtl table th {
	text-align: right;
}

body ul.products {
	margin-right: -15px;
	margin-left: auto;
}

body.rtl ul.products li.product {
	text-align: right;
}

body.rtl table.shop_table_responsive tr td,
body.rtl .select2-container .select2-selection--single {
	text-align: right;
}

body.rtl .content-area blockquote::before {
	right: -40px;
	left: auto;
}

body.rtl .author .avatar {
	float: right;
}

body.rtl .author-details {
	float: left;
}

body.rtl .product p.price {
	float: right;
}

/* -- Header -- */

@media (min-width: 993px) {

	.site-header .site-search {
		margin-right: 3em;
		margin-left: 0;
	}

	body.rtl .site-header .secondary-navigation {
		padding-left: 0;
		padding-right: 1.2em;
	}

	body.rtl .site-header .site-header-cart {
		float: left;
	}

	body.rtl .fa.menu-item:first-child,
	body.rtl .ri.menu-item:first-child {
		border-left: 1px solid #eee;
	}

	body.rtl .fa.menu-item:last-child,
	.ri.menu-item:last-child {
		border: none;
	}

	body.rtl .site-header .main-navigation {
		float: right;
	}

	body.rtl .site-header-cart .cart-contents .amount {
		margin-right: 0;
		margin-left: 0.327em;
	}

	body.rtl .main-navigation ul.menu > li.menu-item-has-children:not(.full-width) ul li.menu-item-has-children .sub-menu-wrapper {
		right: 200px;
		left: auto;
	}

	body.rtl .comment-list .comment-meta {
		float: right;
	}

	body.rtl .addresses header.title h3 {
		float: right;
	}

	body.rtl .addresses header.title a {
		float: left;
	}
}

@media (min-width: 993px) {

	body.rtl .woocommerce-ordering {
		float: right;
		margin-right: 0;
		margin-left: 1em;
	}

	body.rtl .woocommerce-result-count {
		float: right;
	}

	body.rtl .woocommerce-pagination {
		float: left;
	}

	body.rtl.single-product div.product .images,
	body.rtl.single-product div.product .woocommerce-product-gallery {
		float: right;
	}

	body.rtl .main-navigation ul.menu > li.menu-item-has-children:not(.full-width) ul li.menu-item-has-children > a::after {
		right: auto;
		left: 12px;
		content: "\e60f";
	}

	body.rtl table.cart td.actions .coupon {
		float: right;
	}

	body.rtl table.cart td.actions button {
		float: left;
	}

	body.rtl ul.checkout-bar {
		margin: 0 20% 0 20%;
	}

	body.rtl .checkout-bar li.active::after,
	body.rtl .checkout-bar li.next::after {
		right: 50%;
		left: auto;
	}

	body.rtl ul.checkout-bar li.visited::after,
	body.rtl ul.checkout-bar::before {
		right: 0;
		left: auto;
	}

	body.rtl .form-row-first {
		float: right;
	}

	body.rtl .form-row-last {
		float: left;
	}

}

body.rtl .woocommerce-error .button,
body.rtl .woocommerce-info .button,
body.rtl .woocommerce-message .button,
body.rtl .woocommerce-noreviews .button,
body.rtl p.no-comments .button {
	float: left;
	padding-left: 0;
	border: none;
}

body.rtl .site-content select,
body.rtl .site-content div.wpforms-container-full .wpforms-form select {
	padding-right: 10px;
	padding-left: 31px;
	background-position: 10px center;
}

body.rtl .site-content select.orderby {
	padding-right: 0;
}

body.rtl .woocommerce-pagination .next::after {
	content: "\e60f";
}

body.rtl .main-navigation ul.menu > li.menu-item-has-children > a::after,
body.rtl .main-navigation ul.menu > li.page_item_has_children > a::after,
body.rtl .main-navigation ul.nav-menu > li.menu-item-has-children > a::after,
body.rtl .main-navigation ul.nav-menu > li.page_item_has_children > a::after {
	margin-right: 1em;
	margin-left: 0;
}

body.rtl .main-navigation ul li.focus > .sub-menu-wrapper ul,
body.rtl .main-navigation ul li:hover > .sub-menu-wrapper ul,
body.rtl .secondary-navigation ul li.focus > .sub-menu-wrapper ul,
body.rtl .secondary-navigation ul li:hover > .sub-menu-wrapper ul {
	right: 0;
	left: auto;
}

body.rtl .main-navigation ul li,
body.rtl .secondary-navigation ul li {
	text-align: right;
}

body.rtl .menu-primary-menu-container > .menu > li:first-child > a {
	padding-right: 0;
	padding-left: 0.7em;
}

body.rtl .ri.menu-item:first-child {
	border-left: 1px solid #eee;
}

body.rtl .site-header .site-search {
	margin-right: 3em;
	margin-left: 0;
}

body.rtl .site-header .secondary-navigation {
	padding-right: 1.2em;
	padding-left: 0;
}

body.rtl .site-search .widget_product_search form input[type="search"],
body.rtl #secondary .widget_product_search form input[type="search"], {
	padding-right: 45px;
	padding-left: 0;
}

body.rtl .shoptimizer-mini-cart-wrap {
	right: auto;
	left: -370px;
}

body.rtl.drawer-open .shoptimizer-mini-cart-wrap {
	right: auto;
	left: 0;
}

body.rtl .shoptimizer-mini-cart-wrap .widget_shopping_cart .woocommerce-mini-cart__total strong {
	float: right;
}

body.rtl .shoptimizer-mini-cart-wrap .widget_shopping_cart .woocommerce-mini-cart__total .woocommerce-Price-amount {
	float: left;
}

body.rtl .is_stuck .logo-mark {
	padding-right: 0;
	padding-left: 2em;
}

body.rtl .is_stuck .primary-navigation.with-logo .menu-primary-menu-container {
	margin-right: 58px;
	margin-left: 0;
}

body.rtl .smart-search-post-icon {
	float: right;
}

body.rtl .smart-search-suggestions .smart-search-post-icon {
	margin-right: 0;
	margin-left: 15px;
}

body.rtl ul.products li.product .price ins {
	float: right;
}

body.rtl .alignright {
	float: left;
}

body.rtl .product-label {
	float: right;
	margin-left: 0;
	right: 0px;
	left: auto;
	margin-right: 10px;
}

.hurrytimer-cdt {
	border-right: 0;
	border-left: 1px solid #e2e2e2;
	margin-right: 0;
	margin-left: 2%;
}

.hurrytimer-headline {
	text-align: right;
}

.shoptimizer-inventory .progress-bar span {
	right: 0;
	left: auto;
}

.shoptimizer-sticky-add-to-cart__content-product-info {
	padding-right: 15px;
	padding-left: 0;
}

.shoptimizer-sticky-add-to-cart__content-price {
	margin-left: 10px;
	margin-right: 0;
}

.shoptimizer-sticky-add-to-cart__content-button {
	margin-right: auto;
	margin-left: 0;
}

/* -- Single Product -- */

body.rtl.single-product #page div.product .summary {
	float: left;
	margin-right: 0;
	margin-left: 10%;
}

body.rtl .shoptimizer-product-prevnext {
	right: auto;
	left: -50px;
}

body.rtl.single-product div.product .woocommerce-product-rating .star-rating {
	float: right;
	margin-right: 0;
	margin-left: 0.6180469716em;
}

body.rtl .product-widget ul li {
	margin-right: 22px;
	margin-left: 0;
}

body.rtl .product-widget ul li::before {
	right: -22px;
	left: auto;
}

body.rtl .summary .yith-wcwl-add-to-wishlist {
	float: right;
}

body.rtl .cart .single_add_to_cart_button {
	float: right;
	margin-right: 44px;
	margin-left: 0;
}

body.rtl.single-product div.product form.cart .quantity {
	float: right;
}

body.rtl .quantity-nav {
	right: auto;
	left: -34px;
}

body.rtl .quantity-button.quantity-down::before,
body.rtl .quantity-button.quantity-up::before {
	margin-right: 11px;
	margin-left: 0;
}

body.rtl .shoptimizer-product-prevnext a {
	float: left;
	margin-right: 3px;
}

body.rtl .shoptimizer-product-prevnext .tooltip {
	right: auto;
	left: 0;
}

body.rtl #reviews .commentlist li .avatar {
	float: right;
}

body.rtl #reviews .commentlist li .comment_container .comment-text,
body.rtl #reviews .commentlist li .comment_container .comment-text .star-rating {
	float: left;
}

body.rtl #message-purchased {
	right: 20px;
	left: auto;
}

body.rtl .call-back-feature {
	right: auto;
	left: 30px;
}

#page .woocommerce-tabs ul.tabs li a span {
	margin-right: 5px;
}

.shoptimizer-sticky-add-to-cart__content-button {
	text-align: left;
}

/* -- Cart -- */

body.rtl .cart-collaterals {
	float: left;
}

body.rtl .woocommerce-cart-form {
	float: right;
}

body.rtl table.cart td.product-quantity .quantity-nav {
	right: auto;
}

body.rtl table.cart td.product-quantity .quantity-button.quantity-up::before,
body.rtl table.cart td.product-quantity .quantity-button.quantity-down::before {
	margin-right: 8px;
}

body.rtl ul#shipping_method,
body.rtl .cart_totals .shop_table tr.shipping td {
	text-align: right;
}

body.rtl .cart_totals table.shop_table_responsive tr td,
body.rtl.product-align-right ul.products li.product,
body.rtl table.shop_table_responsive tbody tr td.product-subtotal {
	text-align: left;
}

body.rtl #order_review .shop_table tr.shipping td .woocommerce-Price-amount,
body.rtl .cart_totals .shop_table tr.shipping td span.woocommerce-Price-amount,
body.rtl.search-results.left-page-sidebar .content-area,
body.rtl ul#shipping_method li span.amount {
	float: left;
}

body.rtl #payment .payment_methods > .wc_payment_method > label::before,
body.rtl #payment .payment_methods > .woocommerce-PaymentMethod > label::before,
body.rtl ul#shipping_method li label::before {
	margin-right: 0;
	margin-left: 0.5em;
}

body.rtl .cart_item a.remove::before {
	display: none;
}

/* -- Checkout -- */

body.rtl.woocommerce-checkout .coupon-wrapper .woocommerce-info {
	text-align: right;
}

body.rtl.woocommerce-checkout-review-order-table td.product-total,
body.rtl table.cart th.product-subtotal {
	padding-left: 0;
	text-align: left;
}

body.rtl #order_review .shop_table tr.shipping td,
body.rtl .woocommerce-checkout-review-order-table tfoot th {
	border-right: 1px solid #e2e2e2;
	border-left: none;
}

body.rtl #order_review .shop_table tr.shipping th,
body.rtl #order_review .shop_table tr.shipping td {
	border-left: 1px solid #e2e2e2;
}

body.rtl .woocommerce-checkout-review-order-table tfoot td {
	border-right: none;
	border-left: 1px solid #e2e2e2;
    text-align: left;
}

/* -- Sidebar -- */

body.rtl #secondary.widget-area .widget .tagcloud a,
body.rtl .widget-area .widget.widget_product_tag_cloud a {
	float: right;
	margin: 0px 0px 5px 5px;
}

body.rtl .product_list_widget li img {
	float: left;
}

body.rtl #secondary .widget_recent_reviews .star-rating,
body.rtl #secondary .widget_top_rated_products .star-rating {
	margin-right: -15px;
}

/* -- Wishlist -- */

body.rtl ul.products li.product .yith-wcwl-add-button a,
body.rtl ul.products li.product .yith-wcwl-wishlistaddedbrowse a,
body.rtl ul.products li.product .yith-wcwl-wishlistexistsbrowse a {
	right: auto;
	left: 25px;
}

/* -- Footer -- */

body.rtl .below-content .widget .widget-title,
body.rtl .below-content .widget p {
	padding-right: 32px;
	padding-left: 0;
}

body.rtl .below-content .widget .ri {
	right: 20px;
	left: auto;
}

body.rtl footer .mc4wp-form input[type="submit"] {
	right: auto;
	left: 0px;
}

@media (max-width: 992px) {

	body.rtl button.menu-toggle {
		right: 15px;
		left: auto;
	}

	body.rtl .site-header .site-header-cart {
		right: auto;
		left: 15px;
	}

	body.rtl .main-navigation ul.menu > li.menu-item-has-children > span.caret {
		right: auto;
		left: 0px;
	}

	body.rtl .main-navigation ul.menu ul {
		padding-right: 15px;
		padding-left: 0;
	}

	body.rtl .main-navigation li.menu-item-product {
		float: right;
	}

	body.rtl .below-content .widget .widget-title,
	body.rtl .below-content .widget p {
		padding-right: 52px;
	}

	body.rtl .elementor-shortcode .woocommerce {
		margin-left: inherit;
		margin-right: -10px;
	}

	body.rtl ul.products {
		margin-left: inherit;
		margin-right: -12px;
	}

	.mobile-filter,
	body.rtl .site-content select.orderby {
		padding-right: 10px;
	}

	#page ul.checkout-bar li {
		padding-right: calc(2.6em + 55px);
		padding-left: 0;
	}

}

@media (min-width: 993px) {
	.col2-set {
		margin-left: 5.8823529412%;
		margin-right: 0;
	}

	.col2-set, .page-template-template-fullwidth-php .cart-collaterals .cross-sells {
		float: right;
		margin-right: 0;
		margin-left: 4.347826087%;
	}

	#order_review, #order_review_heading {
		clear: left;
	}
}

@media (max-width: 992px) {
	.menu-toggle .bar-text {
		right: 0px;
		left: auto;
		margin-right: 28px;
		margin-left: 0px;
	}
	#page ul.checkout-bar li:before {
	    top: 0;
	    right: 2.6em;
	    left: auto;
	}
	.single-product .site .content-area {
		width: 100%;
	}
	body.rtl.single-product #page div.product .summary {
		float: none;
		margin-right: 0;
		margin-left: 0;
	}
	.product-details-wrapper {
	    padding-right: 0;
	    padding-left: 0;
	}
	#page .woocommerce-tabs {
		margin: 0 -1em;
	}
	body.rtl.single-product .site-content .col-full {
		background-color: #fff;
	}
	.shoptimizer-sticky-add-to-cart__content-product-info {
		padding-right: 0;
	}
}