/* -- Blog Archives/Categories/Authors/Tags and Single Post Styling -- */

body #jp-relatedposts h3.jp-relatedposts-headline em {
	font-weight: 400;
}

p.comment-subscription-form {
    margin-top: 0;
    margin-bottom: 0;
}

p.comment-subscription-form:nth-child(2n) {
    margin-bottom: 1em;
}

p.comment-subscription-form input {
	margin-right: 7px;
}

#respond p.comment-subscription-form label {
	font-size: 14px;
}

#respond .comment-reply-title {
	display: block;
	margin-bottom: 0.4em;
	color: #111;
	font-size: 24px;
}

#respond p.comment-notes {
	font-size: 15px;
}

#respond {
	margin-bottom: 30px;
}

#respond label {
	color: #222;
	font-size: 16px;
}

#respond p.comment-form-cookies-consent label {
	margin-left: 12px;
	font-size: 14px;
}

body #respond #cancel-comment-reply-link {
	color: #ccc;
	font-size: 18px;
	transition: all 0.2s;
}

body #respond #cancel-comment-reply-link:hover {
	color: #999;
}

body #respond #cancel-comment-reply-link:before {
	font-family: Rivolicons;
	content: "\e620";
}

#respond .comment-form-author input,
#respond .comment-form-email input,
#respond .comment-form-url input,
#respond textarea {
	width: 100%;
	margin-top: 6px;
}

#respond .form-submit,
#respond form {
	margin-bottom: 0;
	clear: both;
}

#respond form p a {
	color: #777;
}

body #jp-relatedposts h3.jp-relatedposts-headline {
	font-size: 20px;
}

body #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post {
	transition: all 0.2s;
}

body #jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title {
	padding-top: 15px;
	padding-right: 15px;
	font-size: 15px;
	line-height: 1.5em;
}

body #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a {
	border: 0;
	color: #111;
}

.hentry .entry-header .byline a:hover,
.hentry .entry-header .posted-on a:hover,
body #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:hover .jp-relatedposts-post-title a {
	text-decoration: none;
}

.sticky {
	position: relative;
}

.bypostauthor {
	position: relative;
}

.site-main.grid {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 0 -1.5em;
}

.site-main.grid article.hentry {
	display: flex;
	flex-direction: column;
	padding: 0 1.5em;
	border: 0;
}

.site-main.grid.grid-2 article.hentry {
	flex-basis: 50%;
}

.site-main.grid.grid-3 article.hentry {
	flex-basis: 33.3333%;
}

.site-main.flow article.hentry a.post-thumbnail,
.site-main.grid article.hentry a.post-thumbnail {
	display: block;
	overflow: hidden;
	position: relative;
	-webkit-transform: translateZ(0) scale(1,1);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}

.site-main.grid article.hentry a.post-thumbnail {
	margin-bottom: 1.618em;
}

.site-main.flow .blog-loop-content-wrapper p,
.site-main.flow article.hentry a.post-thumbnail {
	margin-bottom: 0;
}

.site-main.flow article.hentry a.post-thumbnail:before,
.site-main.grid article.hentry a.post-thumbnail:before {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	margin-top: -32px;
	margin-left: -40px;
	opacity: 0;
	color: #fff;
	font-family: Rivolicons;
	font-size: 40px;
	content: "\e603";
	transition: all 0.25s;
}

.site-main.flow article.hentry a.post-thumbnail:after,
.site-main.grid article.hentry a.post-thumbnail:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.35);
	content: "";
	transition: all 0.25s;
}

.site-main.flow article.hentry img.wp-post-image,.site-main.grid article.hentry img.wp-post-image {
	margin: 0;
	transition: all 0.3s;
	-webkit-transform: translateZ(0) scale(1,1);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}

.site-main.flow article.hentry:hover a.post-thumbnail:before,
.site-main.grid article.hentry:hover a.post-thumbnail:before {
	margin-left: -20px;
	opacity: 1;
}

.site-main.flow article.hentry:hover a.post-thumbnail:after,
.site-main.grid article.hentry:hover a.post-thumbnail:after {
	opacity: 1;
}

.site-main.flow article.hentry:hover img.wp-post-image,
.site-main.grid article.hentry:hover img.wp-post-image {
	transform: scale(1.04, 1.04)
}

.site-main.flow article.hentry {
	display: flex;
	align-items: flex-start;
}

.site-main.flow .blog-loop-content-wrapper {
	flex: 1;
	padding: 0 3em;
}

.site-main.flow article:not(.has-post-thumbnail) .blog-loop-content-wrapper {
	padding: 0;
}

.site-main.flow .post-thumbnail {
	width: 48%;
	margin-bottom: 0;
}

.site-main.flow article h2 {
	font-size: 22px;
	font-weight: 600;
	line-height: 1.3;
}

.hentry .entry-header h2 {
	margin: 0 0 6px;
}

.single-post .hentry .entry-header {
	margin-bottom: 1.56em;
}

@media only screen and (min-width: 769px) {

	.single-post ul.products.columns-1 {
		max-width: 300px;
	    float: right;
	    border-left: 1px solid #e2e2e2e2;
	    padding-left: 40px;
	    margin-left: 50px;
	}

}

.hentry .entry-header {
	margin-bottom: 1.2em;
}

.hentry .entry-header .byline,
.hentry .entry-header .posted-on {
	display: block;
	color: #999;
	font-size: 14px;
}

.hentry .entry-header .byline a,
.hentry .entry-header .posted-on a {
	font-weight: 600;
	text-decoration: underline;
}

.hentry .entry-meta,label {
	font-weight: 400
}

.hentry.type-page .entry-header {
	margin-bottom: 0;
	border-bottom: 0;
}

.byline,.updated:not(.published) {
	display: none;
}

.group-blog .byline,
.single .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 1em;
}

.cat-links,
.tags-links {
	display: inline;
	margin: 0 8px;
	color: #111;
}

.post-meta {
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	font-size: 15px;
	text-align: center;
}

.single-post .post-meta {
	margin-bottom: 30px;
}

.post-meta a {
	color: #727272;
}

.post-meta .label {
	display: inline;
	margin-right: 6px;
}

.vcard.author {
	overflow: hidden;
	padding-top: 2em;
	padding-bottom: 3.5em;
}

.author .avatar {
	float: left;
	width: 80px;
	margin-top: 2px;
	border-radius: 50%;
}

.author-details {
	float: right;
	width: calc(100% - 110px);
	color: #777;
	font-size: 16px;
}

.author-details a.fn {
	display: block;
	margin-bottom: 7px;
	color: #222;
	font-size: 18px;
}

.hentry .entry-header h2 a,
.post-meta a:hover {
	color: #111;
}

.single-post .wp-block-image {
	margin: 3em 0;
}

body.single-post h1 {
	margin-bottom: 10px;
}

/* -- Single Post Layout 2: Gutenberg -- */

.single-post.left-post-sidebar.singlepost-layout-two .content-area,
.single-post.right-post-sidebar.singlepost-layout-two .content-area {
	float: none;
	margin-right: auto;
	margin-left: auto;
	padding-top: 2.5em;
}

.single-post.singlepost-layout-two .site-content .woocommerce-breadcrumb,
.single-post.singlepost-layout-two #secondary {
	display: none;
}

body.author h1 {
	margin-bottom: 0.2em;
}

body.author .taxonomy-description {
	margin-bottom: 2em;
}

.single-post.left-post-sidebar .content-area {
	float: right;
}

.single-post.left-post-sidebar #secondary,
.single-post.right-post-sidebar .content-area {
	float: left;
}

.single-post.right-post-sidebar #secondary {
	float: right;
}

.single-post.no-post-sidebar .content-area {
	width: 100%;
}

.single-post .wp-block-image {
	margin-right: 0;
	margin-left: 0;
}

.single-post .site-main ul.products li.product:before {
	width: calc(100% + 10px);
	height: calc(100% + 40px);
	margin-left: -5px;
	margin-top: -20px;
}

.no-breadcrumbs.single-post .archive-header {
	padding-top: 40px;
}

.list .hentry .wp-post-image {
	width: 100%;
}

body #jp-relatedposts h3.jp-relatedposts-headline em:before {
	display: none;
}

@media (max-width: 992px) {

	.site-main.flow .post-thumbnail {
		width: 100%
	}

	.site-main.flow article.hentry img.wp-post-image {
		width: 100%;
	}

	.site-main.flow .blog-loop-content-wrapper {
		padding: 2em 0 0
	}

	.site-main.flow article.hentry {
		display: block;
	}

}

@media (max-width:768px) {

	.site-main.grid.grid-2 article.hentry,
	.site-main.grid.grid-3 article.hentry {
    	flex-basis: 100%;
	}

}