/* -- Comments Styling -- */

#comments .comment-list .comment_meta a.url {
	display: block;
}

#comments .comments-title {
	margin-top: 2em;
	margin-bottom: 1.2em;
	font-size: 24px;
}

#comments .comment-list {
	margin-bottom: 0;
	margin-left: 0;
	list-style: none;
}

#comments .comment-list .comment-content {
	position: relative;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

#comments .comment-list .comment-content cite {
	margin-top: 0;
	color: #222;
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
}

#comments .comment-list .comment_meta {
	margin-bottom: 8px;
	font-size: 16px;
}

#comments .comment-list .comment_meta a.comment-date {
	display: block;
	color: #999;
	font-size: 14px;
}

#comments .comment-list .comment-content .comment-text {
	padding: 0;
	font-size: 15px;
}

#comments .comment-list .comment-meta {
	margin-bottom: 1em;
}

#comments .comment-list .comment-meta .avatar {
	max-width: 64px;
	height: auto;
	margin-top: 0px;
	margin-bottom: 1em;
	border-radius: 50%;
}

#comments .comment-list .comment-meta a.comment-date {
	font-size: 0.875em;
}

#comments .comment-list .comment-meta cite {
	display: block;
	clear: both;
	font-style: normal;
}

#comments .comment-list .reply::after,
#comments .comment-list .reply::before {
	display: table;
	content: "";
}

#comments .comment-list .reply::after,
#respond {
	clear: both;
}

#comments .comment-list .reply {
	padding-top: 20px;
}

#comments .comment-list .reply a {
	display: inline-block;
	margin-right: 3px;
	padding: 3px 12px;
	border-radius: 2px;
	background-color: #f2f2f2;
	font-size: 13px;
}

#comments .comment-list .reply a:hover {
	color: #222;
	background-color: #eee;
}

#comments .comment-list .children {
	margin-left: 6em;
	list-style: none;
}

.comment-content a {
	word-wrap: break-word;
}

#respond #cancel-comment-reply-link {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 1em;
	height: 1em;
	font-size: 1.41575em;
	line-height: 1;
	text-align: center;
}

@media (min-width: 993px) {

	.comment-list:after,
	.comment-list::before {
		display: table;
		content: "";
	}

	.comment-list .comment,
	.comment-list::after {
		clear: both;
	}

	.comment-list .comment-meta {
		float: left;
		width: 100px;
	}

	.comment-list .comment-content {
		margin-bottom: 3.706325903em;
		padding-bottom: 3.706325903em;
	}

	.comment-list #respond,
	.comment-list .comment-content {
		float: right;
		width: calc(100% - 100px);
		margin-right: 0;
	}

	.comment-list #respond .comment-form-email {
		margin-right: 0;
	}

	.comment-list #respond .comment-form-url {
		width: 100%;
		margin-right: 0;
	}

	.comment-list #respond .comment-form-author {
		float: left;
		width: 48%;
		margin-right: 0;
	}

	.comment-list #respond .comment-form-email {
		float: right;
		width: 48%;
	}

	.comment-list .comment-body #respond {
		margin-top: -0.8em;
		margin-bottom: 2.617924em;
		padding: 2.5em;
		background-color: #f9f9f9;
	}

	.comment-list #respond p.comment-form-url {
		display: none;
	}

	.comment-list .comment-body #respond .comment-reply-title {
		margin-bottom: 10px;
		color: #111;
		font-size: 22px;
	}

	.comment-list .comment-body #respond input[type="email"],
	.comment-list .comment-body #respond input[type="text"],
	.comment-list .comment-body #respond textarea {
		margin-top: 6px;
		background-color: #fff;
	}

	#respond .comment-form-author {
		float: left;
		margin-right: 2.703529412%;
	}

	#respond .comment-form-email {
		float: left;
	}

	#respond .comment-form-url {
		float: left;
		margin-right: 2.703529412%;
	}

	#respond .comment-form-author {
		width: 47%;
	}

	#respond .comment-form-email {
		width: 50%;
		margin-right: 0;
	}

	#respond .comment-form-url {
		display: none;
	}

	#respond .comment-form-comment {
		clear: both;
	}

}