/* -- Modal Styling - active on the single product page if the theme option is active -- */

/* Call Back Feature */

.lightbox {
	display: none;
}

.call-back-feature {
	position: fixed;
	z-index: 5;
	right: 30px;
	bottom: 30px;
	transition: all 0.2s linear;
}

body.woocommerce-demo-store .call-back-feature {
	bottom: 90px;
}

.call-back-feature a {
	padding: 0.8em 1.3em;
	border-radius: 5px;
	font-weight: bold;
	color: #fff;
	background-color: #dc9814;
	font-size: 14px;   
}

.call-back-feature:hover {
	transform: scale(1.03);
}


/* Modal */



.modal h3 {
	text-align: center;
	letter-spacing: -0.015em;
}

.modal p {
	margin-bottom: 5px;
}

[role=button],
button.close {
	cursor: pointer;
}

.modal,
.modal-open,
body.drawer-open {
	overflow: hidden;
}

.modal input[type=email],
.modal input[type=tel],
.modal input[type=text],
.modal textarea {
	width: 100%;
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}

.modal-content {
	position: relative;
	padding: 30px 30px 10px;
	border-radius: 3px;
	outline: 0;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.modal-header .close-button {
	margin-top: -2px;
}

.modal-body {
	position: relative;
	padding: 15px;
}

.modal-body .widget {
	margin-bottom: 0;
}

.modal-scrollbar-measure {
	overflow: scroll;
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
}

.modal-header {
	position: relative;
	z-index: 3;
}

.modal button.close-button {
	float: right;
	margin: -15px;
	opacity: 0.2;
	color: #000;
	background: 0 0;
	text-shadow: 0 1px 0 #fff;
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	cursor: pointer;
	filter: alpha(opacity=20);
}

button.close-button {
	padding: 0;
	border: 0;
	background: 0 0;
	-webkit-appearance: none;
}

@media (min-width:768px) {
	.modal-dialog {
		width: 600px;
		margin: 60px auto;
	}

	.modal-sm {
		width: 300px;
	}
}

@media (min-width:993px) {
	.modal-lg {
		width: 900px;
	}
}

@media (max-width:600px) {
	.call-back-feature a {
		font-size: 12px;
	}
}

@media (max-width:992px) {

	.call-back-feature {
		display: none;
	}

}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;   
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    z-index: -100;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.show-modal {
    opacity: 1;
    z-index: 1050;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}