/* -- My Account Styling -- */

.woocommerce-MyAccount-navigation ul li a:before,
.woocommerce-password-strength:after {
	display: inline-block;
	margin-left: .5407911001em;
	font: 14px/1 FontAwesome;
	font-size: inherit;
	content: "\f119";
	text-rendering: auto;
}

.woocommerce-password-strength.strong:after {
	content: "\f118";
}

.woocommerce-password-strength.good::after {
	content: "\f11a";
}

.woocommerce-MyAccount-navigation ul li a:hover:before,
.woocommerce-MyAccount-navigation ul li.is-active a:before {
	opacity: 1;
}

.woocommerce-MyAccount-navigation ul li a:before {
	float: right;
	width: 1.41575em;
	opacity: .25;
	font: 14px/1 Rivolicons;
	line-height: 1.618;
	text-align: right;
	content: "\f0f6";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before {
	content: "\e62b";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before {
	content: "\e634";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before {
	content: "\e626";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before {
	content: "\e63c";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before {
	content: "\e644";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before {
	content: "\e67b";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before {
	content: "\e610";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a:before {
	content: "\e617";
}

.woocommerce-account .woocommerce-MyAccount-content p.order-again a {
	color: #fff;
	border: none;
}

.woocommerce-order-details table thead th,
.woocommerce-order-details table td {
	padding-left: 0px;
}

.woocommerce-order-details table thead th {
	font-size: 16px;
	padding-bottom: 0px;
}

body .entry-content .woocommerce-orders-table .button:hover {
	background-color: transparent;
}

.woocommerce-MyAccount-navigation ul li {
	font-size: 16px;
}

.entry-content .woocommerce-MyAccount-content p em {
	font-size: 14px;
	opacity: 0.6;
}

.woocommerce-account .woocommerce-orders-table th {
	padding-top: 0px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
	color: #222;
	font-size: 16px;
}

.woocommerce-account .woocommerce-orders-table td {
	color: #222;
	font-size: 15px;
}

.woocommerce-account .woocommerce-orders-table td a {
	border: 0;
}

.woocommerce-account tr.woocommerce-orders-table__row td {
    border-bottom: 1px solid #f2f2f2;
}

body.woocommerce-account .entry-content .woocommerce-Message .button {
    margin: 0;
}

.woocommerce-account .my_account_orders .button {
    margin: 0 2px 0 0;
	padding: 2px 8px;
	background: #111;
    color: #fff;
	font-size: 12px;
    border-radius: 2px;
}

body .entry-content .woocommerce-orders-table .button:hover {
    background: #333;
    color: #fff;
}

body .woocommerce-MyAccount-navigation li a {
	border: 0;
	color: #777;
}

.woocommerce-account .entry-content {
	padding-top: 15px;
}

.woocommerce-MyAccount-navigation li a:hover,
.woocommerce-MyAccount-navigation li.is-active a {
	color: #222;
}

.woocommerce-account .woocommerce-MyAccount-content p a {
	border-bottom: 1px solid #e2e2e2;
	color: #222;
}

.woocommerce-account p#billing_address_1_field,
.woocommerce-account p#shipping_address_1_field {
	margin-bottom: 8px;
}

.woocommerce-account .shoptimizer-archive {
	margin-bottom: 2.617924em;
}

.woocommerce-account .content-area {
	width: 100%;
}

body.woocommerce-account fieldset {
	margin: 0;
	padding: 0;
}

.no-breadcrumbs.woocommerce-account .archive-header {
	padding-top: 20px;
}

.woocommerce-MyAccount-navigation ul {
    margin-left: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.woocommerce-MyAccount-navigation ul li {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    list-style: none;
}

.woocommerce-MyAccount-navigation ul li a {
    display: block;
    padding: 0.875em 0;
}

.my_account_orders .button,
.woocommerce-MyAccount-downloads .button {
    margin-right: 0.236em;
    padding: 0.6180469716em 0.875em;
    font-size: 0.875em;
}

.woocommerce-MyAccount-content h2 {
    font-size: 2em;
    font-weight: 600;
}

.woocommerce-MyAccount-content #payment .payment_methods {
    margin-bottom: 1.618em !important;
}

.woocommerce-MyAccount-content .woocommerce-Pagination {
    text-align: center;
}

.col2-set#customer_login,
.col2-set.addresses {
    float: left;
    width: 100%;
    margin-right: 0;
    margin-left: 0
}

.col2-set#customer_login .col-1,
.col2-set.addresses .col-1,
.woocommerce-MyAccount-navigation {
    float: left;
    width: 41.1764705882%;
    margin-right: 5.8823529412%
}

.col2-set#customer_login .col-2,
.col2-set.addresses .col-2 {
    float: right;
    width: 52.9411764706%;
    margin-right: 0
}

.woocommerce-account .button,
.content-area .col2-set button {
    margin-top: 20px;
    border-radius: 3px;
    font-size: 15px;
}

.woocommerce-account .woocommerce-ResetPassword .woocommerce-Button {
    margin-top: 0;
}

.woocommerce-account .woocommerce-form-login__rememberme span {
    margin-left: 4px;
}

.entry-content .woocommerce-privacy-policy-text p,
.entry-content p.woocommerce-LostPassword {
    margin-bottom: 0;
    font-size: 15px;
}

.entry-content .woocommerce-privacy-policy-text p a,
.entry-content p.woocommerce-LostPassword a {
    text-decoration: underline;
}

.woocommerce-MyAccount-navigation {
    width: 17.6470588235%;
}

.woocommerce-MyAccount-content {
    float: right;
    width: 76.4705882353%;
    margin-right: 0;
}

.woocommerce-MyAccount-content .form-row-first {
    float: left;
    width: 38.4615384615%;
    margin-right: 7.6923076923%;
}

.woocommerce-MyAccount-content .form-row-last {
    float: right;
    width: 53.8461538462%;
    margin-right: 0;
}

.left-sidebar:not(.page-template-template-fullwidth-php) .woocommerce-MyAccount-navigation {
    float: right;
    width: 17.6470588235%;
    margin-right: 0;
}

.left-sidebar:not(.page-template-template-fullwidth-php) .woocommerce-MyAccount-content {
    float: left;
    width: 76.4705882353%;
    margin-right: 5.8823529412%;
}

table.my_account_orders {
    font-size: 0.875em;
}

.page-template-template-fullwidth-php .col2-set#customer_login .col-1,
.page-template-template-fullwidth-php .col2-set.addresses .col-1 {
    float: left;
    width: 47.8260869565%;
    margin-right: 4.347826087%;
}

.page-template-template-fullwidth-php .col2-set#customer_login .col-2,
.page-template-template-fullwidth-php .col2-set.addresses .col-2 {
    float: right;
    width: 47.8260869565%;
    margin-right: 0;
}

.page-template-template-fullwidth-php .woocommerce-MyAccount-navigation {
    float: left;
    width: 21.7391304348%;
    margin-right: 4.347826087%;
}

.page-template-template-fullwidth-php .woocommerce-MyAccount-content {
    float: right;
    width: 73.9130434783%;
    margin-right: 0;
}

.page-template-template-fullwidth-php .woocommerce-MyAccount-content .col2-set .col-1,
.page-template-template-fullwidth-php .woocommerce-MyAccount-content .form-row-first {
    float: left;
    width: 46.6666666667%;
    margin-right: 6.6666666667%;
}

.page-template-template-fullwidth-php .woocommerce-MyAccount-content .col2-set .col-2,
.page-template-template-fullwidth-php .woocommerce-MyAccount-content .form-row-last {
    float: right;
    width: 46.6666666667%;
    margin-right: 0;
}

.page-template-template-fullwidth-php .woocommerce-MyAccount-content .col2-set {
    width: 100%;
}

.addresses header.title a {
    float: right;
}

.addresses header.title h3 {
    float: left;
}

.woocommerce-Address-title {
    overflow: hidden;
}

.woocommerce-view-subscription li.woocommerce-MyAccount-navigation-link--subscriptions a {
    color: #111;
}


@media (max-width: 992px) {
    .woocommerce-account .col2-set#customer_login .col-1,
    .woocommerce-account .col2-set.addresses .col-1,
    .woocommerce-account .col2-set#customer_login .col-2,
    .woocommerce-account .col2-set.addresses .col-2,
    .woocommerce-account .woocommerce-MyAccount-navigation,
    .woocommerce-account .woocommerce-MyAccount-content {
        width: 100%;
        margin: 0;
    }
}