/* -- Single Product Styling -- */

/* Sticky Bar */

.shoptimizer-sticky-add-to-cart {
	position: fixed;
	z-index: 99;
	border-bottom: 1px solid #eee;
}

.single-product .site-content .shoptimizer-sticky-add-to-cart .col-full {
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 2.617924em;
	background-color: #fff;
}

.no-breadcrumbs.single-product .site-content .shoptimizer-sticky-add-to-cart .col-full {
	padding-top: 0;
}

.shoptimizer-sticky-add-to-cart {
	display: block;
	overflow: hidden;
	zoom: 1;
	z-index: 99; /* Below cart slideout */
	top: -300px;
	right: 0;
	left: 0;
	padding: 0 0.15em;
	background-color: #fff;
	font-size: 15px;
	transition: all 0.45s;
}

.shoptimizer-sticky-add-to-cart.visible {
	top: 0;
}

.admin-bar .shoptimizer-sticky-add-to-cart.visible {
	top: 32px;
}

.stickybar-top .shoptimizer-sticky-add-to-cart {
	box-shadow: 5px 0px 5px 0px rgba(27, 31, 35, 0.1);
}

/* If positioned at the bottom */

/* Also move up the call back feature slightly */
.stickybar-bottom .call-back-feature {
	bottom: 95px;
}

.stickybar-bottom .shoptimizer-sticky-add-to-cart {
	top: auto;
	bottom: -300px;
	border-top: 1px solid #eee;
	border-bottom: none;
}

.stickybar-bottom .shoptimizer-sticky-add-to-cart.visible,
.admin-bar.stickybar-bottom .shoptimizer-sticky-add-to-cart.visible {
	top: auto;
	bottom: 0;
	box-shadow: 5px 0px 5px 0px rgba(27, 31, 35, 0.1);
}

.shoptimizer-sticky-add-to-cart__content-product-info {
	display: flex;
	padding-left: 15px;
	color: #222;
}

.shoptimizer-sticky-add-to-cart__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.shoptimizer-sticky-add-to-cart__content-title {
	display: block;
}

.shoptimizer-sticky-add-to-cart__content-title .star-rating {
	font-size: 10px;
    margin-top: 2px;
}

.shoptimizer-sticky-add-to-cart__content-price {
	margin-right: 10px;
	color: #111;
}

.shoptimizer-sticky-add-to-cart__content-price del {
	margin-right: 5px;
	opacity: 0.5;
	font-size: 0.85em;
}

.shoptimizer-sticky-add-to-cart__content-button {
	margin-left: auto;
}

.shoptimizer-sticky-add-to-cart__content-button a {
	border-radius: 2px;
}

.site .shoptimizer-sticky-add-to-cart__content-button a.button {
	font-size: 14px;
	font-weight: bold;
	transition: all 0.2s;
}

.shoptimizer-sticky-add-to-cart img {
	width: inherit;
	max-height: 65px;
}

.admin-bar .shoptimizer-sticky-add-to-cart--slideInDown {
	top: 32px;
}


/* Grid */

.single-product.right-sidebar .content-area {
	float: none;
	width: 100%;
	margin-right: 0;
}

.single-product.no-breadcrumbs .site-content .col-full {
	padding-top: 1.2em;
}

.no-breadcrumbs.single-product .site-content .col-full {
	padding-top: 20px;
}

.single-product .content-area,
.single-product .site-main {
	margin-bottom: 0;
}

.product-details-wrapper,
.related.products,
.single-product .archive-header .woocommerce-breadcrumb,
.single-product .woocommerce-Tabs-panel,
.upsells.products {
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 2.617924em;
	padding-left: 2.617924em;
}


/* Summary Styling */

.single-product .site-header {
	border-bottom-color: #f8f8f8;
}

.single-product .product-details-wrapper {
	overflow: hidden;
}

.single-product .product_meta,
.single-product .related-wrapper,
.single-product .woocommerce-tabs {
	background-color: #fff;
}

.single-product .summary .product_meta {
	display: none;
}

.single-product .summary input[type="checkbox"], 
.single-product .summary input[type="radio"] {
	position: relative;
	margin-top: -3px;
}

.single-product h1 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 0;
}

.single-product .woocommerce-error {
	max-width: 1200px;
	margin: 0px auto;
	border-left: 0;
	border-bottom: 30px solid #f8f8f8;
}

.single-product #page div.product .summary {
	position: relative;
	width: 36%;
	margin-right: 10%;
}

.single-product #page .product .woocommerce-product-gallery {
	width: 48%;
	margin-right: 0;
	margin-bottom: 0;
}

.summary .star-rating span:before,
.summary .star-rating:before {
	font-size: 14px;
	letter-spacing: 3px;
}

.product .woocommerce-product-rating a {
	position: relative;
	top: -6px;
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
}

.product p.price {
	float: left;
	margin: 0 0 0px;
	color: #222;
	font-size: 18px;
}

.product p.price del {
	color: #666;
}

.woocommerce-product-details__short-description {
	clear: both;
	padding-top: 15px;
}

.woocommerce-product-details__short-description p {
	margin-bottom: 0.8em;
}

.product a.video:before {
	position: absolute;
	top: 1px;
	left: -25px;
	margin-right: 10px;
	color: #e11919;
	font-family: "Rivolicons";
	font-weight: 400;
	content: "\e632";
}

.product a.video {
	display: inline-block;
	position: relative;
	margin-left: 25px;
	border-bottom: 1px solid #e2e2e2;
}

.product a.video:hover {
	border-color: #ccc;
}

body.single-product div.product form.cart {
	margin: 0.6em 0;
}

#page .woocommerce-tabs,
body.single-product div.product form.cart.variations_form {
	padding-top: 0;
}

body.single-product div.product .woocommerce-product-rating {
	margin-top: 1em;
	margin-bottom: -0.3em;
}

body .tawcvs-swatches {
	padding: 0;
}

body .tawcvs-swatches .swatch {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	opacity: 1;
	line-height: 20px;
}

body .tawcvs-swatches .swatch.selected {
	box-shadow: none;
}

body .tawcvs-swatches .swatch-color.selected:before {
	display: none;
}

.product .cart .quantity .input-text {
	width: 50px;
	height: 58px;
	padding: .5rem;
	border: 1px solid #e2e2e2;
	background: 0 0;
	background-color: #fff;
	box-shadow: none;
	font-size: 17px;
	font-weight: 400;
}

.product .cart .quantity .input-text:focus {
	border-color: #ccc;
}

.single-product div.product table.variations select {
	background-color: #fff;
	font-size: 15px;
}

.product .cart .composite_price {
	padding-bottom: 10px;
}

.cart .single_add_to_cart_button {
	float: left;
	width: calc(100% - 95px);
	margin-left: 40px;
	height: 58px;
	padding-top: 0;
	padding-bottom: 0;
	border-radius: 2px;
	outline: 0;
	background: #3bb54a;
	font-size: 19px;
	font-weight: 400;
	line-height: 58px;
	text-align: center;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	transition: all 0.2s;
}

.quantity.hidden + .single_add_to_cart_button {
	margin-left: 0;
	width: 100%;
}

.product-type-bundle .cart .single_add_to_cart_button {
	margin-left: 10px;
	width: calc(100% - 65px);
}

.product.product-type-external .cart .single_add_to_cart_button,
.product.product-type-grouped .cart .single_add_to_cart_button {
	width: 100%;
	margin-left: 0;
	margin-bottom: 0.6em;
}

.product.product-type-external p.cart {
	clear: both;
	overflow: hidden;
	padding-top: 15px;
}

.product .cart .single_add_to_cart_button:hover {
	background: #009245;
}

.woocommerce-variation-availability {
	padding-bottom: 18px;
}

.content-area p.stock {
	clear: both;
	margin-top: 16px;
	margin-bottom: -7px;
	padding-top: 14px;
	border-top: 1px solid #e2e2e2;
	font-size: 15px;
}

.content-area p.stock.out-of-stock {
	margin-bottom: 20px;
}

.product:not(.product-type-variable) p.stock.in-stock:before {
	margin-right: 10px;
	font-family: Rivolicons;
	font-size: 10px;
	font-weight: 700;
	content: "\e60b";
}

.content-area p.stock.out-of-stock:before {
	margin-right: 10px;
	font-family: Rivolicons;
	font-size: 10px;
	content: "\e620";
}

/* Products Gallery */

.single-product .pswp__button {
    background-color: transparent;
}

.single-product div.product {
    overflow: hidden;
    position: relative;
}

div.product .images,
div.product .summary,
div.product .woocommerce-product-gallery {
    margin-top: 0;
    margin-bottom: 2.617924em;
}

div.product .woocommerce-product-gallery {
    position: relative;
}

div.product .woocommerce-product-gallery .zoomImg {
    background-color: #fff;
}

div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    display: block;
    position: absolute;
    z-index: 99;
    top: .875em;
    right: .875em;
    width: 2em;
    height: 2em;
    border-radius: 3px;
    text-align: center;
}

#reviews .commentlist li ul.children li,
div.product .woocommerce-product-gallery .flex-viewport {
    margin-bottom: 1.618em;
}

div.product .woocommerce-product-gallery .flex-control-thumbs {
    margin: 0;
    padding: 0;
}

div.product .variations_button:after,
div.product .variations_button:before,
div.product .woocommerce-product-gallery .flex-control-thumbs:after,
div.product .woocommerce-product-gallery .flex-control-thumbs:before,
div.product form.cart:after,
div.product form.cart:before {
    display: table;
    content: "";
}

div.product .woocommerce-product-gallery .flex-control-thumbs:after {
    clear: both;
}

div.product .woocommerce-product-gallery .flex-control-thumbs li {
    margin-bottom: 1.618em;
    list-style: none;
    cursor: pointer;
}

div.product .woocommerce-product-gallery .flex-control-thumbs li img {
    opacity: 0.5;
    -webkit-transition: all, ease, 0.2s;
    transition: all 0.2s;
}

div.product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active,
div.product .woocommerce-product-gallery .flex-control-thumbs li:hover img {
    opacity: 1
}

div.product .images .woocommerce-main-image {
    display: block;
    margin-bottom: 1.618em;
}

div.product .images .thumbnails a.zoom {
    display: block;
    float: left;
    width: 22.05%;
    margin-right: 3.8%;
    margin-bottom: 1em;
}

div.product .images .thumbnails a.zoom.last,
div.product form.cart table.woocommerce-grouped-product-list .woocommerce-grouped-product-list-item__quantity .quantity {
    margin-right: 0;
}

div.product .images .thumbnails a.zoom.first,
div.product .variations_button:after,
div.product form.cart:after {
    clear: both;
}

div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
	float: none;
	width: inherit;
	margin-right: 5px;
	margin-left: 5px;
}

div.product .woocommerce-product-gallery .flex-control-thumbs {
	clear: both;
	margin-top: 10px;
	text-align: center;
}

div.product .woocommerce-product-gallery .flex-control-thumbs li {
	display: inline-block;
	margin: 0 5px 5px;
}

div.product .woocommerce-product-gallery .flex-control-thumbs li img {
	float: none;
	width: 70px;
}

ul.flex-direction-nav {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 0;
	width: 100%;
	margin: -82px 0 0;
	padding: 0;
	list-style: none;
	pointer-events: none;
}

li.flex-nav-next {
	float: right;
}

a.flex-next,
a.flex-prev {
	visibility: hidden;
	color: #111;
	pointer-events: visible;
}

.woocommerce-product-gallery {
	overflow: hidden;
}

a.flex-next::after,
a.flex-prev::before {
	visibility: visible;
	position: relative;
	opacity: 0;
	font-family: Rivolicons, sans-serif;
	font-size: 22px;
	transition: all 0.2s ease;
}

a.flex-next:after {
	right: 0;
	content: "\e611";
}

.woocommerce-product-gallery:hover a.flex-next:after {
	right: 20px;
	opacity: 1;
}

a.flex-prev::before {
	left: 0;
	content: "\e60f";
}

.woocommerce-product-gallery:hover a.flex-prev:before {
	left: 20px;
	opacity: 1;
}

body .pswp__caption__center {
	font-size: 15px;
	text-align: center;
}

body.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
	overflow: hidden;
	z-index: 1;
	border-radius: 50%;
	color: #111;
	background: #fff;
	line-height: 2em;
	transition: all 0.2s;
}

#yith-wcwl-popup-message,
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger img {
	padding-left: 30px;
	padding-right: 30px;
}

body.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger::before {
	display: block;
	font-family: Rivolicons, sans-serif;
	content: "\e64b";
	transform: rotate(45deg);
}

body.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover {
	background: #fff;
	transform: scale3d(1.1, 1.1, 1.1);
}


/* On Sale */

.single-product .content-area .summary .onsale {
	position: relative;
	margin: 0 0 2px 2px;
	padding: 0;
	color: #3bb54a;
	background: 0 0;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
	z-index: 1;
}


/* Variable Products */


body.single-product div.product table.variations {
	margin: 10px 0 0;
}

body.single-product div.product table.variations .value {
	margin-bottom: 0.8em;
}

.variations select {
	padding: 0 31px 0 13px;
	font-size: 17px;
	font-weight: 400;
}

.variations label {
	display: block;
	margin-bottom: 6px;
	color: #222;
	font-size: 15px;
	font-weight: 400;
}

.variations .selected-variation label span:first-child:after {
	font-family: Rivolicons, sans-serif;
	content: "\e60b";
	color: #3bb54a;
	margin-left: 8px;
    font-size: 13px;
    font-weight: bold;
}

body.single-product div.product table.variations tr:last-child .value {
	position: relative;
	margin-bottom: 0;
}

body a.reset_variations {
	position: absolute;
	top: -28px;
	right: 0;
	margin-left: 0;
	border-bottom: 1px solid #e2e2e2;
	color: #333;
	font-size: 15px;
	line-height: 19px;
}

body.single-product div.product .variations_button {
	padding-top: 0.2em;
}

.woocommerce-variation-description {
	padding-top: 10px;
	font-size: 15px;
}

.woocommerce-variation-price {
	color: #111;
}


/* Grouped Products */

table.woocommerce-grouped-product-list {
	margin-bottom: 0.5em;
	font-size: 15px;
}

body table.woocommerce-grouped-product-list tbody tr td {
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	border-bottom: 1px solid #eee;
	background-color: transparent;
	vertical-align: middle;
}

td.woocommerce-grouped-product-list-item__price {
	padding-right: 0;
	text-align: right;
}

body table.woocommerce-grouped-product-list del {
	margin-right: 8px;
	opacity: 0.6;
	font-size: 0.85em;
}

.content-area table.woocommerce-grouped-product-list p.stock {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 13px;
}

table.woocommerce-grouped-product-list .button,
table.woocommerce-grouped-product-list .button:hover {
	padding: 0;
	border-bottom: 1px solid #ccc;
	color: #333;
	background-color: transparent;
	font-size: 14px;
}

table.woocommerce-grouped-product-list a {
	color: #222;
}

.product .cart .woocommerce-grouped-product-list .quantity .input-text {
	width: 45px;
	font-size: 15px;
}

.single-product div.product form.cart table.woocommerce-grouped-product-list .woocommerce-grouped-product-list-item__quantity {
	width: 90px;
}


/* Bundled Products */

div.bundled_product_summary, 
.woocommerce div.product.bundled_product_summary {
	padding-bottom: 0.6em;
}

h4.bundled_product_title {
	margin-bottom: 5px;
}

.iconic-was-swatches__item {
	margin-right: 10px;
}

.iconic-was-swatches {
	margin: 0px;
}

.product-type-bundle .variations tr {
	margin-bottom: 0;
}

.bundled_product_excerpt p {
	margin-bottom: 0.6em;
}

.content-area .product-type-bundle p.stock {
	border: none;
	padding-top: 0;
}

.bundle_unavailable.woocommerce-info {
	margin-bottom: 0;
}

@media (min-width: 993px) {
	.single-product #page div.product.product-type-bundle .summary {
		width: 46%;
		margin-right: 0;
	}
}

.product-type-bundle .shoptimizer-product-prevnext {
	display: none;
}

/* Related and Upsells */

.related.products {
	padding-bottom: 20px;
}

.related-wrapper > section:first-of-type > h2 {
	padding-top: 60px;
}

.related > h2:first-child,
.upsells > h2:first-child {
	margin-bottom: 1.3em;
	font-size: 1.5em;
	font-weight: 600;
}


/* Reviews */

body .woocommerce-noreviews {
	padding: 0;
	border: 0;
	color: inherit;
	background-color: transparent;
	font-size: 15px;
}

#reviews label,
body #reviews .comment-reply-title {
	display: block;
	margin-bottom: 20px;
	color: #111;
	font-size: 20px;
}

body #reviews .commentlist li {
	margin-bottom: 2.417924em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
}

#reviews label {
	margin-bottom: 0.5em;
	font-size: 16px;
}

#reviews .comment-form-rating {
	margin-bottom: 1em;
}

body #respond {
	padding-top: 2em;
	background: 0 0;
}

body #reviews .commentlist li .avatar {
	width: 7%;
	margin-right: 0;
	border-radius: 50%;
}

.woocommerce #reviews .star-rating span:before,
.woocommerce #reviews .star-rating:before {
	font-size: 13px;
	letter-spacing: 2px;
}

body #reviews .commentlist li p.meta strong {
	color: #111;
	font-weight: 400;
}

#reviews .commentlist li .comment_container .comment-text .star-rating {
	position: relative;
	top: 6px;
}

body #reviews .commentlist {
	margin-top: 1em;
	margin-bottom: 0;
}

body #reviews .commentlist li .comment_container .comment-text {
	width: 89%;
}

body #reviews .commentlist li p.meta {
	margin-bottom: 0.7em;
}


/* Single Product Tabs */

.panel.woocommerce-Tabs-panel--additional_information h2:first-of-type,
.panel.woocommerce-Tabs-panel--description h2:first-of-type,
.panel.woocommerce-Tabs-panel--reviews h2:first-of-type {
	display: none;
}

.panel.woocommerce-Tabs-panel--description .elementor h2:first-of-type {
	display: block;
}

body #page .woocommerce-tabs ul.tabs li.active a {
	color: #111;
}

#page .woocommerce-tabs .panel:focus {
	outline: 0;
}

#page .woocommerce-tabs ul.tabs {
	float: none;
	width: 100%;
	margin: 0;
	border-top: 1px solid #f8f8f8;
	text-align: center;
}

#page .woocommerce-tabs ul.tabs li {
	display: inline-block;
	margin: 0 12px;
	border: 0;
}

#page .woocommerce-tabs ul.tabs li.reviews_tab a {
	position: relative;
	margin-right: 22px;
}

#page .woocommerce-tabs ul.tabs li a span {
	font-size: 10px;
	position: absolute;
	bottom: 0px;
	right: -26px;
	border-radius: 50%;
	color: #fff;
	height: 20px;
	width: 20px;
	line-height: 20px;
	display: inline-block;
	margin-bottom: 4px;
	background-color: #dc9814;
	font-weight: bold;
}

#page .woocommerce-tabs .panel {
	float: none;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
}

.woocommerce-tabs p a {
	text-decoration: underline;
}

#page .woocommerce-tabs .panel .elementor h3 {
	margin-bottom: 0.4em;
}

p.create-account label {
	font-size: 16px;
}

#page .woocommerce-tabs ul.tabs li a {
	padding: 2.2em 0 0.1em;
	color: #888;
	font-size: 16px;
}

.woocommerce-tabs .tabs li a::after {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #ccc;
	content: "";
	transition: transform 0.3s cubic-bezier(0.28, 0.75, 0.22, 0.95);
	transform: scale(0,1);
	transform-origin: right center;
}

.woocommerce-tabs .tabs li.active a:after {
	transform: scale(1,1);
	transform-origin: left center;
}

body .woocommerce-tabs .panel h2 {
	margin-bottom: .6em;
	font-size: 1.45em;
	font-weight: 400;
}

body .woocommerce-tabs ul.tabs li a:focus {
	outline: 0;
}

body .woocommerce-tabs table {
	width: 65%;
	font-size: 16px;
}

.woocommerce-tabs table td,
.woocommerce-tabs table th {
	padding-left: 0;
	background: 0 0;
}

.woocommerce-tabs table th {
	padding-top: 6px;
	padding-bottom: 6px;
	color: #111;
	font-weight: 400;
}

.woocommerce-tabs table td {
	padding-top: 5px;
	padding-bottom: 5px;
}

.woocommerce-tabs .panel:not(.woocommerce-Tabs-panel--additional_information) table td {
	padding-top: 2px;
	padding-bottom: 2px;
}

.woocommerce-tabs table tr:first-child td,
.woocommerce-tabs table tr:first-child th,
body table.woocommerce-grouped-product-list tbody tr:first-child td {
	padding-top: 0
}

body .woocommerce-tabs table.yith-wcpsc-product-table {
	width: 100%;
}


/* YITH Wishlist within the Single Product Summary */

.summary .yith-wcwl-add-to-wishlist {
	margin: -10px 0 20px 0;
}

.summary .yith-wcwl-add-to-wishlist a {
	color: #444;
	font-size: 13px;
	font-weight: bold;
	transition: all 0.2s
}

.summary .yith-wcwl-add-to-wishlist a:hover {
	color: #000;
	border-color: #999
}

.summary .yith-wcwl-add-to-wishlist a:before {
	font-family: Rivolicons;
	content: "\e63a";
	margin-right: 7px;
	position: relative;
	top: 1px;
}


/* WooCommerce Messages */

body.single-product .woocommerce-message {
	margin-bottom: 0;
	padding: 0;
	border-left: 0;
	color: #111;
	background: 0 0;
}

body.single-product .woocommerce-message .message-inner {
	position: relative;
	background-color: #3bb54a;
	border-left: .55em solid rgba(0,0,0,0.1);
	padding: 20px 25px 20px 60px;
	font-size: 16px;
	color: #fff;
	border-radius: 3px;
	margin-bottom: 30px;
	overflow: hidden;
	display: flex;
    align-items: center;
}

body.single-product .woocommerce-message .message-inner:before {
	position: absolute;
	top: 50%;
	left: 20px;
	margin-top: -15px;
	font-family: Rivolicons;
	content: "\e64f";
	color: #fff;
	margin-right: 15px;
	font-size: 20px;
}

body.single-product .woocommerce-message .message-content {
	float: left;
	width: calc(100% - 250px);
}

body.single-product .woocommerce-message .message-content .button {
	display: none;
}

body.single-product .woocommerce-message .message-inner .buttons-wrapper {
	float: right;
	width: 300px;
}

body.single-product .woocommerce-message .message-inner .buttons-wrapper a {
	transition: 0.2s all;
}

body.single-product .woocommerce-message .message-inner .buttons-wrapper a span {
	border-bottom: 1px solid transparent;
	transition: 0.2s all;
}

body.single-product .woocommerce-message .message-inner .buttons-wrapper a:hover span {
	border-color: #fff;
}

body.single-product .woocommerce-message .message-inner .buttons-wrapper a.cart {
	opacity: 0.85;
}

body.single-product .woocommerce-message .message-inner .buttons-wrapper a.checkout {
	font-weight: 700;
}

body.single-product .woocommerce-message a {
	color: #fff;
}

.woocommerce-message .button {
	margin-left: 1em
}

.woocommerce-message .button.checkout {
	font-weight: 400;
}

.button.checkout:after {
	position: relative;
	top: 1px;
	margin-left: 8px;
	font-family: Rivolicons;
	font-size: 14px;
	content: "\e610"
}

@media (max-width: 768px) {

	body.single-product .woocommerce-message {
		text-align: center;
	}

	body.single-product .woocommerce-message .message-inner {
		display: block;
	}

	body.single-product .woocommerce-message .message-content {
		display: block;
		float: none;
		width: 100%;
	}

	body.single-product .woocommerce-message .message-inner .buttons-wrapper {
		display: inline-block;
		float: none;
		width: auto;
    	margin: 5px 0 -5px 0;
	}

	body.single-product .woocommerce-message .button.cart {
		margin-left: 0;
		padding-left: 0;
		border-left: 0;
	}

	body.single-product .woocommerce-message .message-inner .buttons-wrapper a span {
		border-color: #fff;
	}

}

body.single-product .woocommerce-message a:hover {
	border-color: #999;
}

.single-product .archive-header .woocommerce-breadcrumb {
	padding-bottom: 20px;
}

/* Gallery */

.woocommerce-product-gallery__wrapper {
	margin-bottom: 20px;
}

/* Previous/Next */

.shoptimizer-product-prevnext {
	position: absolute;
	top: 12px;
	right: -50px;
}

.shoptimizer-product-prevnext a {
	position: relative;
	display: inline-block;
}

.shoptimizer-product-prevnext a span.icon {
	font-size: 20px;
	margin-left: 3px;
	color: #999;
	transition: 0.2s all;
}

.shoptimizer-product-prevnext .title {
	padding: 10px 10px 5px 10px;
	display: block;
	line-height: 1.4em;
	font-size: 14px;
}

.shoptimizer-product-prevnext .price {
	display: block;
	line-height: 1.4em;
	font-size: 12px;
	color: #888;
	padding-bottom: 10px;
}

.shoptimizer-product-prevnext .tooltip {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	right: 0;
	width: 120px;
	margin-top: 10px;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,.15);
	font-size: 13px;
	text-align: center;
	z-index: 2;
	transition: all 0.25s ease-out;
	transform: translateY(10px);
}

.shoptimizer-product-prevnext a:hover .tooltip {
	display: block;
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}

/* -- Beeketing plugin styling -- */

#bk-countdown-timer .wrapper-message p span,
.bk-stock-countdown .stock-countdown-message .message span {
    font-family: inherit !important;
}

.currency_switch_form button {
	display: none;
}

body #message-purchased {
	bottom: 50px;
}

body .countdown-timer-wrapper {
	margin-bottom: -25px;
}

body #bk-countdown-timer .bk-normal-clock li .bk-time {
	margin-bottom: 0;
}

body #bk-countdown-timer .bk-normal-clock {
	margin-top: 0;
}

.bk-stock-countdown .stock-countdown-message .bkt--powered,
body #bk-social-proof .social-proof-container .social-proof-wrapper li.powered,
body #bk-countdown-timer .wrapper-message a {
	display: none;
}

body #bk-social-proof .social-proof-container {
	font-size: 13px;
}

body .bk-stock-countdown > div {
	margin: 13px 0;
}

body .bk-stock-countdown {
	margin-bottom: -20px;
}

body .bk-stock-countdown .progress-bar {
	margin-top: 10px;
}

body #bk-countdown-timer .bk-normal-clock li .bk-label-time {
	opacity: 0.6;
}

.bk-stock-countdown .stock-countdown-message p span span,
#bk-countdown-timer .wrapper-message p span span,
body #bk-countdown-timer .bk-normal-clock li .bk-time,
body #bk-countdown-timer .bk-normal-clock li .bk-label-time {
	font-family: inherit !important;
}

body #bk-countdown-timer {
	float: left;
	width: 48%;
	margin-top: 20px;
	border-right: 1px solid #e2e2e2;
}

body .bk-stock-countdown {
	float: right !important;
	width: 48%;
	margin-top: 12px;
}

body #bk-countdown-timer .bk-normal-clock li.bk-wrapper-isolate {
	margin: 0px 4px;
}

body .bk-stock-countdown .progress-bar {
	margin-top: 10px;
}

body #bk-countdown-timer > div {
	margin-top: 0;
}


/* -- HurryTimer and Stock Inventory Styling -- */

.hurrytimer-cdt {
	display: inline-block;
	margin-right: 2%;
	margin-bottom: 15px;
	width: 48%;
	padding: 0;
	border-right: 1px solid #e2e2e2;
}

.hurrytimer-cdt__sep {
	margin: 0 -3px;
}

.hurrytimer-headline {
	margin: 0 !important;
	padding-bottom: 3px;
	text-align: left;
}

.hurrytimer-timer {
	justify-content: inherit !important;
}

.hurrytimer-timer-label {
	margin-top: 1px;
}

body .hurrytimer-timer-block {
	margin-bottom: 0;
}

.shoptimizer-inventory {
	width: 49%;
	margin-top: -3px;
	margin-bottom: 15px;
	display: inline-block;
	vertical-align: top;
}

.shoptimizer-inventory span {
	font-size: 15px;
}

.shoptimizer-inventory .progress-bar {
    margin-top: 20px;
    width: 100%;
    padding: 0;
    height: 10px;
    float: none;
    position: relative;
    border-radius: 5px;
    transition: all .4s ease;
    background: #f2f2f7;
    margin-top: 10px;
}

.shoptimizer-inventory .progress-bar span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: width 1.2s ease;
	background: #f5b64c;
	border-radius: inherit;
    width: 28%;
}

.shoptimizer-product-prevnext a:hover span.icon {
	color: #222;
}

/* Product Custom Widget */

.product-widget {
	clear: both;
	padding-top: 5px;
	margin-bottom: 15px;
	color: #111;
	font-size: 16px;
}

.product-widget strong {
	font-weight: 600;
}

.product-widget h4 {
	margin-top: 1.2em;
	margin-bottom: .5em;
	font-weight: 600;
	font-size: 17px;
	padding-bottom: .15em;
	border-bottom: 1px solid #e2e2e2;
}

.outofstock .product-widget,
.summary .yith-wcwl-add-to-wishlist span.feedback {
	display: none
}

.product-widget .widget {
	margin: 0;
	font-size: 15px;
}

.product-widget .widget p {
	margin-bottom: 10px;
}

.product-widget .widget fieldset p {
	margin-bottom: 0;
}

.product-widget a {
	border-bottom: 1px solid #ccc;
	color: #111;
}

.product-widget ul {
	margin: 10px 0 20px 0;
}

.product-widget ul li {
	margin-bottom: 3px;
	margin-left: 22px;
	position: relative;
	list-style: none;
}

.product-widget ul li:before {
	font-family: Rivolicons;
	content: "\e60a";
	position: absolute;
	font-size: 11px;
	margin-top: 4px;
	left: -22px;
}

body .product-widget fieldset {
	border: 1px solid #e2e2e2;
	margin-bottom: 1.2em;
}

body .product-widget fieldset legend {
	color: #111;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 600;
	text-align: center;
	display: block;
	width: inherit;
	padding: 0 10px;
}

/* Product Meta */

body.single-product .product_meta .posted_in,
body.single-product .product_meta .sku_wrapper,
body.single-product .product_meta .tagged_as {
	display: inline;
	margin: 0 8px;
	color: #111
}

body.single-product .product_meta .posted_in a,
body.single-product .product_meta .tagged_as a {
	color: #999
}

body.single-product .product_meta .posted_in a:first-child,
body.single-product .product_meta .tagged_as a:first-child {
	margin-left: 5px;
}

body.single-product .product_meta .sku_wrapper span {
	margin-left: 5px;
	color: #999;
}

body.single-product .product_meta a {
	font-weight: inherit;
	text-decoration: none;
}

body.single-product .product_meta a:hover {
	color: #333;
}

body.single-product .product_meta {
	clear: both;
	position: relative;
	margin-bottom: -1px;
	padding-top: 1.3em;
	padding-bottom: 1.3em;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	font-size: 14px;
	text-align: center;
}

/* Reviews */

#reviews .commentlist li .comment_container:after,
#reviews .commentlist li:after,
.single-product div.product .woocommerce-product-rating:after {
    clear: both;
}

.single-product div.product .woocommerce-product-rating .star-rating {
    float: left;
    margin-right: 0.6180469716em;
}

.single-product div.product .product_meta {
    padding-top: 1em;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 0.875em;
}

#reviews .comment-form-rating label,
#reviews .commentlist li p.meta time,
.product_list_widget li > a,
.single-product div.product .product_meta .posted_in,
.single-product div.product .product_meta .sku_wrapper,
.single-product div.product .product_meta .tagged_as {
    display: block;
}

.single-product div.product .product_meta .posted_in:last-child,
.single-product div.product .product_meta .sku_wrapper:last-child,
.single-product div.product .product_meta .tagged_as:last-child {
    border-bottom: 0;
}

.stock:empty:before {
    display: none;
}

.stock.in-stock {
    color: #0f834d;
}

.stock.out-of-stock {
    color: #e2401c;
}

a.reset_variations {
    display: inline-block;
    margin-left: 1em;
}

#reviews {
    outline: 0;
}

#reviews #comments {
    padding-top: 0;
}

#reviews .commentlist {
    margin-left: 0;
    list-style: none;
}

#reviews .commentlist li {
    clear: both;
    margin-bottom: 2.617924em;
    list-style: none;
}

#reviews .commentlist li .comment_container {
    border-radius: 3px;
}

#reviews .commentlist li .comment_container .comment-text {
    float: right;
    width: 81.8181818182%;
    margin-right: 0;
}

#reviews .commentlist li .comment_container .comment-text .star-rating {
    float: right;
    height: 1em;
    font-size: 0.875em;
    line-height: 1
}

#reviews .commentlist li:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

#reviews .commentlist li time {
    opacity: 0.5;
    font-size: 0.875em;
}

#reviews .commentlist li .avatar {
    float: left;
    width: 9.0909090909%;
    height: auto;
    margin-right: 9.0909090909%;
}

#reviews .commentlist li p.meta strong {
    line-height: 1;
}

#reviews .commentlist li p.meta .verified {
    font-size: 0.875em;
    font-style: normal;
}

#reviews .commentlist li p.meta .woocommerce-review__dash {
    display: none;
}

#reviews .commentlist li ul.children {
    float: right;
    width: 81.8181818182%;
    margin: 0;
    padding-top: 1.618em;
}

#reviews .commentlist li ul.children .avatar {
    float: left;
    width: 11.1111111111%;
    margin-right: 11.1111111111%;
}

#reviews .commentlist li ul.children .comment-text {
    float: right;
    width: 77.7777777778%;
    margin-right: 0;
}

#reviews .commentlist li ul.children li:last-child,
ul#shipping_method li:last-child {
    margin-bottom: 0;
}

/* Size Guide */

.outofstock .summary .button-wrapper.shoptimizer-size-guide {
	display: none;
}

.summary .button-wrapper.shoptimizer-size-guide {
	display: inline;
	clear: none;
	width: auto;
	margin: 5px 25px 5px 0;
	font-size: 14px;
}

.button-wrapper.shoptimizer-size-guide #chart-button {
	color: #444;
}

.button-wrapper.shoptimizer-size-guide #chart-button:hover {
	color: #000;
}

.summary .button-wrapper.shoptimizer-size-guide a:before {
	font-family: Rivolicons, sans-serif;
	content: "\e61e";
	margin-right: 9px;
	position: relative;
	top: 1px;
}


@media (max-width: 992px) {

	.product-details-wrapper {
		padding-right: 1em;
    	padding-left: 1em;
	}

	.single-product div.product .mobile-summary .woocommerce-product-rating .star-rating {
		font-size: 13px;
		margin-right: 5px;
	}

	.single-product div.product .mobile-summary .onsale {
		position: relative;
		left: auto;
		top: auto;
		margin: 0;
		padding: 0;
		background: transparent;
		color: #3bb54a;
		text-transform: none;
		letter-spacing: 0;
		font-size: 14px;
	}

	body.single-product div.product .mobile-summary .woocommerce-product-rating {
		margin-top: 0.5em;
	}

	body.single-product div.product .mobile-summary span.product_title {
		display: block;
		margin-bottom: 0;
		font-size: 26px;
		font-weight: bold;
		letter-spacing: -0.015em;
		line-height: 1.3em;
	}

	body.single-product .site-main div.product .mobile-summary p.price {
		margin-bottom: 10px;
	}

	body.single-product .site-main div.product .mobile-summary .product-label {
		display: inline-block;
	}

	body.single-product div.product .mobile-summary .woocommerce-product-rating a {
		top: -7px;
	}

	body .shoptimizer-product-prevnext {
		display: none;
	}

	div.product .woocommerce-product-gallery .flex-control-thumbs li img {
		width: 40px;
	}

	.related.products,
	.single-product .site-content .shoptimizer-sticky-add-to-cart .col-full,
	.single-product .woocommerce-Tabs-panel,
	.upsells.products {
		padding-right: 1em;
		padding-left: 1em;
	}

	body.single-product .archive-header .woocommerce-breadcrumb {
		padding-right: 0;
		padding-left: 0;
	}

	.single-product .site .content-area {
		width: calc(100% + 2em);
		margin-left: -1em
	}

	body.single-product .product_meta .posted_in,
	body.single-product .product_meta .sku_wrapper,
	body.single-product .product_meta .tagged_as {
		display: block;
	}

	.shoptimizer-sticky-add-to-cart img {
		display: none;
	}

	.shoptimizer-sticky-add-to-cart__content-product-info {
		padding-left: 0;
	}

	body #page .woocommerce-tabs .panel,
	body .woocommerce-tabs table,
	body.single-product #page div.product .summary,
	body.single-product #page div.product .woocommerce-product-gallery {
		width: 100%;
	}

}


@media (max-width: 600px) {

	body.single-product #bk-countdown-timer {
		border: none;
	}

	#bk-countdown-timer .bk-normal-clock li {
		letter-spacing: -0.05em;
	}

	#page .woocommerce-tabs ul.tabs li,
	#page .woocommerce-tabs ul.tabs li a {
		display: block;
		padding: 0;
		margin: 0;
	}

	#page .woocommerce-tabs ul.tabs li {
		margin: 5px 0;
	}

	.woocommerce-tabs .tabs li a::after {
		display: none;
	}

	#page .woocommerce-tabs ul.tabs li a span {
		position: relative;
		top: -2px;
	    right: -4px;
	}

	#page .woocommerce-error .button {
		display: block;
    	float: none;
    	margin-bottom: 10px;
	}

}
